<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">User Management</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/users" *ngIf="isAuthenticated$ | async">Users</a>
        </li>
      </ul>
      <div *ngIf="isAuthenticated$ | async" class="d-flex">
        <button class="btn btn-outline-light" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
